In [77]:
''' 
1. 필요 라이브러리
1) Pandas
2) curl : URL을 Command Line으로 접근할 수 있는 기능, 공공데이터 가져올 때 사용.
3) Request : Http/1.1 요청을 매우 쉽게 보내주는 기능, 공공데이터 가져올 때 사용.
4) beautifulsoup4 : 웹에서 가져온 데이터(HTML, XML)을 처리(필터, 찾기) 기능 제공
5) pyarrow
6) fastparquet
'''
import pandas as pd
import requests
import openpyxl
import csv
# pip3 install openpyxl

In [2]:
# requests 실습
GDP_URL = 'https://www.index.go.kr/unity/potal/indicator/exceldown.do'

In [3]:
GDP_COOKIES = {
    'JSESSIONID': 'Glmk3jcQ6M0vFbDNJ4smM8noSD9dLZ6i74iD63fqDKaaMVwDJY0yeWsLvKFhVRZc.wasgams1_servlet_engine1',
    'chrCookie1621254278202': 'cookieValue',
    'idxCd_2736': '2736'
}

In [4]:
GDP_HEADERS = {
	'Connection': 'keep-alive',
	'Cache-Control': 'max-age=0',
	'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="90", "Google Chrome";v="90"',
	'sec-ch-ua-mobile': '?0',
	'Upgrade-Insecure-Requests': '1',
	'Origin': 'https://www.index.go.kr',
	'Content-Type': 'application/x-www-form-urlencoded',
	'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36',
	'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
	'Sec-Fetch-Site': 'same-origin',
	'Sec-Fetch-Mode': 'navigate',
	'Sec-Fetch-User': '?1',
	'Sec-Fetch-Dest': 'iframe',
	'Referer': 'https://www.index.go.kr/strata/jsp/showStblGams3.jsp?stts_cd=273601&idx_cd=2736&freq=Q&period=196001:202102',
	'Accept-Language': 'ko,en-US;q=0.9,en;q=0.8,ko-KR;q=0.7'
}

In [5]:
GDP_DATA = {
	'datavalue': '1@span1@span@th@cell1@span1@span19601/4@th@cell1@span1@span19602/4@th@cell1@span1@span19603/4@th@cell1@span1@span19604/4@th@cell1@span1@span19611/4@th@cell1@span1@span19612/4@th@cell1@span1@span19613/4@th@cell1@span1@span19614/4@th@cell1@span1@span19621/4@th@cell1@span1@span19622/4@th@cell1@span1@span19623/4@th@cell1@span1@span19624/4@th@cell1@span1@span19631/4@th@cell1@span1@span19632/4@th@cell1@span1@span19633/4@th@cell1@span1@span19634/4@th@cell1@span1@span19641/4@th@cell1@span1@span19642/4@th@cell1@span1@span19643/4@th@cell1@span1@span19644/4@th@cell1@span1@span19651/4@th@cell1@span1@span19652/4@th@cell1@span1@span19653/4@th@cell1@span1@span19654/4@th@cell1@span1@span19661/4@th@cell1@span1@span19662/4@th@cell1@span1@span19663/4@th@cell1@span1@span19664/4@th@cell1@span1@span19671/4@th@cell1@span1@span19672/4@th@cell1@span1@span19673/4@th@cell1@span1@span19674/4@th@cell1@span1@span19681/4@th@cell1@span1@span19682/4@th@cell1@span1@span19683/4@th@cell1@span1@span19684/4@th@cell1@span1@span19691/4@th@cell1@span1@span19692/4@th@cell1@span1@span19693/4@th@cell1@span1@span19694/4@th@cell1@span1@span19701/4@th@cell1@span1@span19702/4@th@cell1@span1@span19703/4@th@cell1@span1@span19704/4@th@cell1@span1@span19711/4@th@cell1@span1@span19712/4@th@cell1@span1@span19713/4@th@cell1@span1@span19714/4@th@cell1@span1@span19721/4@th@cell1@span1@span19722/4@th@cell1@span1@span19723/4@th@cell1@span1@span19724/4@th@cell1@span1@span19731/4@th@cell1@span1@span19732/4@th@cell1@span1@span19733/4@th@cell1@span1@span19734/4@th@cell1@span1@span19741/4@th@cell1@span1@span19742/4@th@cell1@span1@span19743/4@th@cell1@span1@span19744/4@th@cell1@span1@span19751/4@th@cell1@span1@span19752/4@th@cell1@span1@span19753/4@th@cell1@span1@span19754/4@th@cell1@span1@span19761/4@th@cell1@span1@span19762/4@th@cell1@span1@span19763/4@th@cell1@span1@span19764/4@th@cell1@span1@span19771/4@th@cell1@span1@span19772/4@th@cell1@span1@span19773/4@th@cell1@span1@span19774/4@th@cell1@span1@span19781/4@th@cell1@span1@span19782/4@th@cell1@span1@span19783/4@th@cell1@span1@span19784/4@th@cell1@span1@span19791/4@th@cell1@span1@span19792/4@th@cell1@span1@span19793/4@th@cell1@span1@span19794/4@th@cell1@span1@span19801/4@th@cell1@span1@span19802/4@th@cell1@span1@span19803/4@th@cell1@span1@span19804/4@th@cell1@span1@span19811/4@th@cell1@span1@span19812/4@th@cell1@span1@span19813/4@th@cell1@span1@span19814/4@th@cell1@span1@span19821/4@th@cell1@span1@span19822/4@th@cell1@span1@span19823/4@th@cell1@span1@span19824/4@th@cell1@span1@span19831/4@th@cell1@span1@span19832/4@th@cell1@span1@span19833/4@th@cell1@span1@span19834/4@th@cell1@span1@span19841/4@th@cell1@span1@span19842/4@th@cell1@span1@span19843/4@th@cell1@span1@span19844/4@th@cell1@span1@span19851/4@th@cell1@span1@span19852/4@th@cell1@span1@span19853/4@th@cell1@span1@span19854/4@th@cell1@span1@span19861/4@th@cell1@span1@span19862/4@th@cell1@span1@span19863/4@th@cell1@span1@span19864/4@th@cell1@span1@span19871/4@th@cell1@span1@span19872/4@th@cell1@span1@span19873/4@th@cell1@span1@span19874/4@th@cell1@span1@span19881/4@th@cell1@span1@span19882/4@th@cell1@span1@span19883/4@th@cell1@span1@span19884/4@th@cell1@span1@span19891/4@th@cell1@span1@span19892/4@th@cell1@span1@span19893/4@th@cell1@span1@span19894/4@th@cell1@span1@span19901/4@th@cell1@span1@span19902/4@th@cell1@span1@span19903/4@th@cell1@span1@span19904/4@th@cell1@span1@span19911/4@th@cell1@span1@span19912/4@th@cell1@span1@span19913/4@th@cell1@span1@span19914/4@th@cell1@span1@span19921/4@th@cell1@span1@span19922/4@th@cell1@span1@span19923/4@th@cell1@span1@span19924/4@th@cell1@span1@span19931/4@th@cell1@span1@span19932/4@th@cell1@span1@span19933/4@th@cell1@span1@span19934/4@th@cell1@span1@span19941/4@th@cell1@span1@span19942/4@th@cell1@span1@span19943/4@th@cell1@span1@span19944/4@th@cell1@span1@span19951/4@th@cell1@span1@span19952/4@th@cell1@span1@span19953/4@th@cell1@span1@span19954/4@th@cell1@span1@span19961/4@th@cell1@span1@span19962/4@th@cell1@span1@span19963/4@th@cell1@span1@span19964/4@th@cell1@span1@span19971/4@th@cell1@span1@span19972/4@th@cell1@span1@span19973/4@th@cell1@span1@span19974/4@th@cell1@span1@span19981/4@th@cell1@span1@span19982/4@th@cell1@span1@span19983/4@th@cell1@span1@span19984/4@th@cell1@span1@span19991/4@th@cell1@span1@span19992/4@th@cell1@span1@span19993/4@th@cell1@span1@span19994/4@th@cell1@span1@span20001/4@th@cell1@span1@span20002/4@th@cell1@span1@span20003/4@th@cell1@span1@span20004/4@th@cell1@span1@span20011/4@th@cell1@span1@span20012/4@th@cell1@span1@span20013/4@th@cell1@span1@span20014/4@th@cell1@span1@span20021/4@th@cell1@span1@span20022/4@th@cell1@span1@span20023/4@th@cell1@span1@span20024/4@th@cell1@span1@span20031/4@th@cell1@span1@span20032/4@th@cell1@span1@span20033/4@th@cell1@span1@span20034/4@th@cell1@span1@span20041/4@th@cell1@span1@span20042/4@th@cell1@span1@span20043/4@th@cell1@span1@span20044/4@th@cell1@span1@span20051/4@th@cell1@span1@span20052/4@th@cell1@span1@span20053/4@th@cell1@span1@span20054/4@th@cell1@span1@span20061/4@th@cell1@span1@span20062/4@th@cell1@span1@span20063/4@th@cell1@span1@span20064/4@th@cell1@span1@span20071/4@th@cell1@span1@span20072/4@th@cell1@span1@span20073/4@th@cell1@span1@span20074/4@th@cell1@span1@span20081/4@th@cell1@span1@span20082/4@th@cell1@span1@span20083/4@th@cell1@span1@span20084/4@th@cell1@span1@span20091/4@th@cell1@span1@span20092/4@th@cell1@span1@span20093/4@th@cell1@span1@span20094/4@th@cell1@span1@span20101/4@th@cell1@span1@span20102/4@th@cell1@span1@span20103/4@th@cell1@span1@span20104/4@th@cell1@span1@span20111/4@th@cell1@span1@span20112/4@th@cell1@span1@span20113/4@th@cell1@span1@span20114/4@th@cell1@span1@span20121/4@th@cell1@span1@span20122/4@th@cell1@span1@span20123/4@th@cell1@span1@span20124/4@th@cell1@span1@span20131/4@th@cell1@span1@span20132/4@th@cell1@span1@span20133/4@th@cell1@span1@span20134/4@th@cell1@span1@span20141/4@th@cell1@span1@span20142/4@th@cell1@span1@span20143/4@th@cell1@span1@span20144/4@th@cell1@span1@span20151/4@th@cell1@span1@span20152/4@th@cell1@span1@span20153/4@th@cell1@span1@span20154/4@th@cell1@span1@span20161/4@th@cell1@span1@span20162/4@th@cell1@span1@span20163/4@th@cell1@span1@span20164/4@th@cell1@span1@span20171/4@th@cell1@span1@span20172/4@th@cell1@span1@span20173/4@th@cell1@span1@span20174/4@th@cell1@span1@span20181/4@th@cell1@span1@span20182/4@th@cell1@span1@span20183/4@th@cell1@span1@span20184/4@th@cell1@span1@span20191/4@th@cell1@span1@span20192/4@th@cell1@span1@span20193/4@th@cell1@span1@span20194/4@th@cell1@span1@span20201/4@th@cell1@span1@span20202/4@th@cell1@span1@span20203/4@th@cell1@span1@span20204/4@th@cell1@span1@span20211/4@th@cell1@span1@span20212/4@th@cell@row1@span1@span국내총생산(명목GDP)@th@cell1@span1@span49.1@td@cell1@span1@span68.0@td@cell1@span1@span61.0@td@cell1@span1@span71.8@td@cell1@span1@span62.0@td@cell1@span1@span83.2@td@cell1@span1@span70.6@td@cell1@span1@span85.9@td@cell1@span1@span72.7@td@cell1@span1@span99.4@td@cell1@span1@span84.8@td@cell1@span1@span109.0@td@cell1@span1@span97.6@td@cell1@span1@span135.0@td@cell1@span1@span124.2@td@cell1@span1@span161.7@td@cell1@span1@span128.5@td@cell1@span1@span198.2@td@cell1@span1@span180.2@td@cell1@span1@span232.7@td@cell1@span1@span162.2@td@cell1@span1@span227.8@td@cell1@span1@span201.3@td@cell1@span1@span240.0@td@cell1@span1@span198.1@td@cell1@span1@span294.8@td@cell1@span1@span271.1@td@cell1@span1@span301.9@td@cell1@span1@span244.8@td@cell1@span1@span353.9@td@cell1@span1@span338.5@td@cell1@span1@span376.6@td@cell1@span1@span330.9@td@cell1@span1@span463.6@td@cell1@span1@span435.0@td@cell1@span1@span462.9@td@cell1@span1@span395.9@td@cell1@span1@span568.3@td@cell1@span1@span594.1@td@cell1@span1@span653.1@td@cell1@span1@span536.9@td@cell1@span1@span714.2@td@cell1@span1@span727.5@td@cell1@span1@span818.0@td@cell1@span1@span674.1@td@cell1@span1@span918.3@td@cell1@span1@span881.3@td@cell1@span1@span964.4@td@cell1@span1@span804.7@td@cell1@span1@span1,125.8@td@cell1@span1@span1,100.2@td@cell1@span1@span1,237.0@td@cell1@span1@span1,039.8@td@cell1@span1@span1,414.2@td@cell1@span1@span1,449.2@td@cell1@span1@span1,624.2@td@cell1@span1@span1,545.6@td@cell1@span1@span2,024.8@td@cell1@span1@span1,987.4@td@cell1@span1@span2,347.2@td@cell1@span1@span2,007.6@td@cell1@span1@span2,766.0@td@cell1@span1@span2,666.3@td@cell1@span1@span3,103.7@td@cell1@span1@span2,806.7@td@cell1@span1@span3,820.4@td@cell1@span1@span3,704.3@td@cell1@span1@span4,141.4@td@cell1@span1@span3,569.8@td@cell1@span1@span4,675.0@td@cell1@span1@span4,770.1@td@cell1@span1@span5,593.2@td@cell1@span1@span4,813.0@td@cell1@span1@span6,327.1@td@cell1@span1@span6,549.6@td@cell1@span1@span7,464.7@td@cell1@span1@span6,615.1@td@cell1@span1@span8,219.9@td@cell1@span1@span8,364.5@td@cell1@span1@span9,202.8@td@cell1@span1@span8,266.6@td@cell1@span1@span10,020.7@td@cell1@span1@span10,342.3@td@cell1@span1@span11,095.5@td@cell1@span1@span10,293.0@td@cell1@span1@span12,496.2@td@cell1@span1@span12,950.0@td@cell1@span1@span13,930.6@td@cell1@span1@span12,390.4@td@cell1@span1@span14,369.1@td@cell1@span1@span14,768.4@td@cell1@span1@span15,758.7@td@cell1@span1@span14,920.0@td@cell1@span1@span16,816.9@td@cell1@span1@span17,844.9@td@cell1@span1@span18,498.3@td@cell1@span1@span17,255.3@td@cell1@span1@span19,441.0@td@cell1@span1@span20,760.8@td@cell1@span1@span21,134.2@td@cell1@span1@span19,225.7@td@cell1@span1@span21,604.7@td@cell1@span1@span23,186.6@td@cell1@span1@span24,112.7@td@cell1@span1@span22,516.7@td@cell1@span1@span25,054.2@td@cell1@span1@span27,045.1@td@cell1@span1@span28,369.9@td@cell1@span1@span26,475.0@td@cell1@span1@span29,808.6@td@cell1@span1@span31,447.9@td@cell1@span1@span33,966.3@td@cell1@span1@span32,844.3@td@cell1@span1@span35,040.9@td@cell1@span1@span37,510.9@td@cell1@span1@span40,598.7@td@cell1@span1@span37,066.4@td@cell1@span1@span39,973.7@td@cell1@span1@span42,208.8@td@cell1@span1@span46,552.9@td@cell1@span1@span44,060.8@td@cell1@span1@span48,660.9@td@cell1@span1@span52,433.0@td@cell1@span1@span55,401.6@td@cell1@span1@span53,527.2@td@cell1@span1@span59,330.8@td@cell1@span1@span62,525.4@td@cell1@span1@span67,097.7@td@cell1@span1@span63,005.5@td@cell1@span1@span69,226.4@td@cell1@span1@span70,880.4@td@cell1@span1@span74,428.4@td@cell1@span1@span70,650.3@td@cell1@span1@span78,308.1@td@cell1@span1@span80,911.1@td@cell1@span1@span85,311.8@td@cell1@span1@span83,453.5@td@cell1@span1@span91,513.3@td@cell1@span1@span95,615.3@td@cell1@span1@span101,911.3@td@cell1@span1@span98,054.3@td@cell1@span1@span108,417.9@td@cell1@span1@span113,779.6@td@cell1@span1@span116,736.9@td@cell1@span1@span112,294.5@td@cell1@span1@span121,161.5@td@cell1@span1@span126,073.8@td@cell1@span1@span131,321.1@td@cell1@span1@span122,408.5@td@cell1@span1@span133,583.6@td@cell1@span1@span139,134.8@td@cell1@span1@span146,874.9@td@cell1@span1@span131,111.0@td@cell1@span1@span131,834.6@td@cell1@span1@span134,676.5@td@cell1@span1@span139,593.3@td@cell1@span1@span133,692.3@td@cell1@span1@span143,533.4@td@cell1@span1@span152,776.0@td@cell1@span1@span161,451.3@td@cell1@span1@span152,404.4@td@cell1@span1@span160,404.4@td@cell1@span1@span166,224.9@td@cell1@span1@span172,397.6@td@cell1@span1@span165,662.3@td@cell1@span1@span176,302.9@td@cell1@span1@span179,613.6@td@cell1@span1@span185,242.5@td@cell1@span1@span182,815.1@td@cell1@span1@span195,025.5@td@cell1@span1@span197,296.0@td@cell1@span1@span209,604.7@td@cell1@span1@span196,663.6@td@cell1@span1@span205,785.3@td@cell1@span1@span209,454.4@td@cell1@span1@span225,461.8@td@cell1@span1@span213,471.2@td@cell1@span1@span225,589.8@td@cell1@span1@span229,235.5@td@cell1@span1@span240,142.8@td@cell1@span1@span224,035.8@td@cell1@span1@span235,823.7@td@cell1@span1@span242,709.8@td@cell1@span1@span254,878.5@td@cell1@span1@span236,667.5@td@cell1@span1@span246,819.2@td@cell1@span1@span255,259.1@td@cell1@span1@span266,855.7@td@cell1@span1@span252,586.3@td@cell1@span1@span268,345.3@td@cell1@span1@span275,865.8@td@cell1@span1@span292,862.8@td@cell1@span1@span271,693.8@td@cell1@span1@span289,566.5@td@cell1@span1@span295,242.9@td@cell1@span1@span297,713.4@td@cell1@span1@span278,108.8@td@cell1@span1@span297,889.5@td@cell1@span1@span309,041.3@td@cell1@span1@span320,308.2@td@cell1@span1@span307,737.9@td@cell1@span1@span329,481.0@td@cell1@span1@span334,833.6@td@cell1@span1@span350,558.7@td@cell1@span1@span328,096.0@td@cell1@span1@span343,678.8@td@cell1@span1@span349,987.0@td@cell1@span1@span367,175.4@td@cell1@span1@span344,574.6@td@cell1@span1@span358,275.7@td@cell1@span1@span361,834.3@td@cell1@span1@span375,426.7@td@cell1@span1@span355,384.7@td@cell1@span1@span373,096.5@td@cell1@span1@span379,887.2@td@cell1@span1@span392,450.8@td@cell1@span1@span373,559.7@td@cell1@span1@span388,566.9@td@cell1@span1@span393,425.4@td@cell1@span1@span407,377.0@td@cell1@span1@span394,273.0@td@cell1@span1@span411,386.8@td@cell1@span1@span420,790.8@td@cell1@span1@span431,569.8@td@cell1@span1@span413,482.6@td@cell1@span1@span434,462.9@td@cell1@span1@span439,421.6@td@cell1@span1@span453,412.4@td@cell1@span1@span433,027.3@td@cell1@span1@span454,141.7@td@cell1@span1@span473,436.2@td@cell1@span1@span475,092.9@td@cell1@span1@span449,838.1@td@cell1@span1@span473,018.3@td@cell1@span1@span485,535.7@td@cell1@span1@span489,800.5@td@cell1@span1@span454,891.0@td@cell1@span1@span479,907.0@td@cell1@span1@span487,177.0@td@cell1@span1@span497,064.8@td@cell1@span1@span458,202.4@td@cell1@span1@span472,328.1@td@cell1@span1@span491,181.5@td@cell1@span1@span492,100.1@td@cell1@span1@span501,248.1@td@cell1@span1@span-@td@cell@row1@span1@span경제성장률(실질GDP성장률)@th@cell1@span1@span-@td@cell1@span1@span-@td@cell1@span1@span-@td@cell1@span1@span-@td@cell1@span1@span6.3@td@cell1@span1@span7.2@td@cell1@span1@span4.8@td@cell1@span1@span9.0@td@cell1@span1@span6.3@td@cell1@span1@span-1.6@td@cell1@span1@span7.2@td@cell1@span1@span4.4@td@cell1@span1@span10.1@td@cell1@span1@span8.7@td@cell1@span1@span9.7@td@cell1@span1@span7.9@td@cell1@span1@span4.7@td@cell1@span1@span5.7@td@cell1@span1@span8.2@td@cell1@span1@span17.6@td@cell1@span1@span8.2@td@cell1@span1@span13.8@td@cell1@span1@span7.4@td@cell1@span1@span1.6@td@cell1@span1@span8.1@td@cell1@span1@span13.7@td@cell1@span1@span15.8@td@cell1@span1@span10.5@td@cell1@span1@span9.5@td@cell1@span1@span5.1@td@cell1@span1@span14.1@td@cell1@span1@span8.3@td@cell1@span1@span13.5@td@cell1@span1@span13.6@td@cell1@span1@span15.7@td@cell1@span1@span10.3@td@cell1@span1@span9.0@td@cell1@span1@span12.7@td@cell1@span1@span14.2@td@cell1@span1@span20.9@td@cell1@span1@span10.6@td@cell1@span1@span13.7@td@cell1@span1@span4.8@td@cell1@span1@span11.2@td@cell1@span1@span12.8@td@cell1@span1@span13.2@td@cell1@span1@span11.4@td@cell1@span1@span6.1@td@cell1@span1@span5.5@td@cell1@span1@span5.2@td@cell1@span1@span6.3@td@cell1@span1@span11.1@td@cell1@span1@span12.7@td@cell1@span1@span13.5@td@cell1@span1@span18.3@td@cell1@span1@span14.9@td@cell1@span1@span15.5@td@cell1@span1@span10.8@td@cell1@span1@span7.6@td@cell1@span1@span5.8@td@cell1@span1@span2.2@td@cell1@span1@span6.6@td@cell1@span1@span8.2@td@cell1@span1@span13.0@td@cell1@span1@span12.3@td@cell1@span1@span14.6@td@cell1@span1@span13.6@td@cell1@span1@span12.4@td@cell1@span1@span9.2@td@cell1@span1@span8.8@td@cell1@span1@span13.5@td@cell1@span1@span16.5@td@cell1@span1@span15.1@td@cell1@span1@span13.1@td@cell1@span1@span9.8@td@cell1@span1@span7.5@td@cell1@span1@span14.6@td@cell1@span1@span11.6@td@cell1@span1@span7.8@td@cell1@span1@span2.9@td@cell1@span1@span0.2@td@cell1@span1@span-3.5@td@cell1@span1@span2.3@td@cell1@span1@span-4.8@td@cell1@span1@span3.8@td@cell1@span1@span3.9@td@cell1@span1@span7.9@td@cell1@span1@span12.6@td@cell1@span1@span9.0@td@cell1@span1@span8.7@td@cell1@span1@span8.2@td@cell1@span1@span7.7@td@cell1@span1@span13.7@td@cell1@span1@span13.4@td@cell1@span1@span16.1@td@cell1@span1@span10.7@td@cell1@span1@span13.8@td@cell1@span1@span12.2@td@cell1@span1@span9.5@td@cell1@span1@span7.5@td@cell1@span1@span7.5@td@cell1@span1@span6.7@td@cell1@span1@span7.3@td@cell1@span1@span9.7@td@cell1@span1@span9.1@td@cell1@span1@span10.2@td@cell1@span1@span13.9@td@cell1@span1@span11.7@td@cell1@span1@span15.0@td@cell1@span1@span15.2@td@cell1@span1@span10.8@td@cell1@span1@span10.6@td@cell1@span1@span16.5@td@cell1@span1@span8.4@td@cell1@span1@span10.6@td@cell1@span1@span12.9@td@cell1@span1@span5.0@td@cell1@span1@span7.8@td@cell1@span1@span6.9@td@cell1@span1@span8.3@td@cell1@span1@span10.0@td@cell1@span1@span10.9@td@cell1@span1@span10.5@td@cell1@span1@span8.2@td@cell1@span1@span11.4@td@cell1@span1@span11.8@td@cell1@span1@span9.8@td@cell1@span1@span10.3@td@cell1@span1@span8.6@td@cell1@span1@span7.7@td@cell1@span1@span4.9@td@cell1@span1@span4.0@td@cell1@span1@span5.0@td@cell1@span1@span6.5@td@cell1@span1@span7.9@td@cell1@span1@span7.9@td@cell1@span1@span9.7@td@cell1@span1@span8.6@td@cell1@span1@span8.4@td@cell1@span1@span10.4@td@cell1@span1@span9.6@td@cell1@span1@span10.0@td@cell1@span1@span10.8@td@cell1@span1@span8.2@td@cell1@span1@span8.1@td@cell1@span1@span8.1@td@cell1@span1@span7.9@td@cell1@span1@span7.5@td@cell1@span1@span6.0@td@cell1@span1@span7.6@td@cell1@span1@span6.9@td@cell1@span1@span4.3@td@cell1@span1@span-2.9@td@cell1@span1@span-7.2@td@cell1@span1@span-6.4@td@cell1@span1@span-3.8@td@cell1@span1@span7.0@td@cell1@span1@span12.2@td@cell1@span1@span12.8@td@cell1@span1@span13.5@td@cell1@span1@span12.7@td@cell1@span1@span9.1@td@cell1@span1@span9.1@td@cell1@span1@span5.9@td@cell1@span1@span5.1@td@cell1@span1@span4.9@td@cell1@span1@span3.5@td@cell1@span1@span5.9@td@cell1@span1@span7.2@td@cell1@span1@span7.6@td@cell1@span1@span8.2@td@cell1@span1@span7.8@td@cell1@span1@span4.2@td@cell1@span1@span2.3@td@cell1@span1@span2.1@td@cell1@span1@span4.0@td@cell1@span1@span5.8@td@cell1@span1@span6.7@td@cell1@span1@span5.2@td@cell1@span1@span3.3@td@cell1@span1@span3.0@td@cell1@span1@span3.9@td@cell1@span1@span5.0@td@cell1@span1@span5.3@td@cell1@span1@span6.4@td@cell1@span1@span4.8@td@cell1@span1@span5.1@td@cell1@span1@span4.8@td@cell1@span1@span4.9@td@cell1@span1@span5.9@td@cell1@span1@span5.5@td@cell1@span1@span6.8@td@cell1@span1@span5.8@td@cell1@span1@span4.4@td@cell1@span1@span4.0@td@cell1@span1@span-1.7@td@cell1@span1@span-1.8@td@cell1@span1@span-1.2@td@cell1@span1@span0.9@td@cell1@span1@span5.2@td@cell1@span1@span7.3@td@cell1@span1@span7.9@td@cell1@span1@span5.8@td@cell1@span1@span6.3@td@cell1@span1@span5.4@td@cell1@span1@span3.8@td@cell1@span1@span3.1@td@cell1@span1@span2.6@td@cell1@span1@span2.4@td@cell1@span1@span2.4@td@cell1@span1@span2.3@td@cell1@span1@span2.5@td@cell1@span1@span2.3@td@cell1@span1@span2.9@td@cell1@span1@span3.5@td@cell1@span1@span3.9@td@cell1@span1@span3.8@td@cell1@span1@span3.4@td@cell1@span1@span3.1@td@cell1@span1@span2.6@td@cell1@span1@span2.4@td@cell1@span1@span2.0@td@cell1@span1@span3.3@td@cell1@span1@span3.4@td@cell1@span1@span2.8@td@cell1@span1@span3.6@td@cell1@span1@span2.8@td@cell1@span1@span2.6@td@cell1@span1@span3.1@td@cell1@span1@span2.7@td@cell1@span1@span3.9@td@cell1@span1@span2.9@td@cell1@span1@span3.0@td@cell1@span1@span3.1@td@cell1@span1@span2.4@td@cell1@span1@span3.1@td@cell1@span1@span1.8@td@cell1@span1@span2.1@td@cell1@span1@span2.0@td@cell1@span1@span2.3@td@cell1@span1@span-1.3@td@cell1@span1@span-3.2@td@cell1@span1@span2.2@td@cell1@span1@span1.1@td@cell1@span1@span1.7@td@cell1@span1@span0.7@td@cell@row',
	'idxcd': '2736',
	'sttscd': '273601'
}

In [48]:
response = requests.post(GDP_URL, headers = GDP_HEADERS, cookies = GDP_COOKIES, data = GDP_DATA)

In [78]:
with open('/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.xls', 'wb') as fd:
    for chunk in response.iter_content(chunk_size=1024):
        fd.write(chunk)

df = pd.read_excel("/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.xls", index_col=0)
df

/opt/homebrew/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,국내총생산 및 경제성장률,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246
통계표명:,,,,,,,,,,,,,,,,,,,,,
단위:,"십억원, 전년동기비 %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,19601/4,19602/4,19603/4,19604/4,19611/4,19612/4,19613/4,19614/4,19621/4,19622/4,...,20191/4,20192/4,20193/4,20194/4,20201/4,20202/4,20203/4,20204/4,20211/4,20212/4
국내총생산(명목GDP),49.1,68.0,61.0,71.8,62.0,83.2,70.6,85.9,72.7,99.4,...,"454,891.0","479,907.0","487,177.0","497,064.8","458,202.4","472,328.1","491,181.5","492,100.1","501,248.1",-
경제성장률(실질GDP성장률),-,-,-,-,6.3,7.2,4.8,9.0,6.3,-1.6,...,1.8,2.1,2.0,2.3,-1.3,-3.2,2.2,1.1,1.7,0.7
출처:,한국은행「국민소득」,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
주석:,"* 국민총생산(명목, 시장가격)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"* 실질GDP, 실질성장률은 발표시기(한국은행, GDP속보치 발표)와 명목GDP, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# xls to csv
# T : 행과 열을 전환
df.T.to_csv("/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.csv", sep='|', na_rep='NaN', index=False)

In [83]:
f = open("/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.csv", 'rt', encoding = 'UTF8') # rt 읽기
lines = f.readlines()
lines = lines[2:]
f.close()

In [86]:
f = open("/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.csv", 'wt', encoding = 'UTF8') # wt 쓰기
f.write('year|quarter|Nominal_GDP|Real_GDP\n')
for line in lines:
    line_split = line.split('|')
    year = line_split[1][0:4]
    quarter = line_split[1][4]
    line = year + '|' + quarter + '|' + line_split[2] + '|' + line_split[3] + '\n'
    f.write(line)
f.close()

In [122]:
gdp = pd.read_csv("/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.csv", sep = '|', encoding = 'utf-8', low_memory = False)

In [123]:
gdp.head()

   year  quarter Nominal_GDP Real_GDP
0  1960        2        68.0        -
1  1960        3        61.0        -
2  1960        4        71.8        -
3  1961        1        62.0      6.3
4  1961        2        83.2      7.2

In [124]:
# 중간 '-'값 처리
gdp = gdp[(gdp['year'] >=1961) & (gdp['year'] !=2021)]
gdp

     year  quarter Nominal_GDP Real_GDP
3    1961        1        62.0      6.3
4    1961        2        83.2      7.2
5    1961        3        70.6      4.8
6    1961        4        85.9      9.0
7    1962        1        72.7      6.3
..    ...      ...         ...      ...
238  2019        4   497,064.8      2.3
239  2020        1   458,202.4     -1.3
240  2020        2   472,328.1     -3.2
241  2020        3   491,181.5      2.2
242  2020        4   492,100.1      1.1

[240 rows x 4 columns]

In [125]:
# Nominal_GDP ',' 값 처리
gdp['Nominal_GDP'] = gdp['Nominal_GDP'].apply(lambda x: x.replace(',',''))
gdp

     year  quarter Nominal_GDP Real_GDP
3    1961        1        62.0      6.3
4    1961        2        83.2      7.2
5    1961        3        70.6      4.8
6    1961        4        85.9      9.0
7    1962        1        72.7      6.3
..    ...      ...         ...      ...
238  2019        4    497064.8      2.3
239  2020        1    458202.4     -1.3
240  2020        2    472328.1     -3.2
241  2020        3    491181.5      2.2
242  2020        4    492100.1      1.1

[240 rows x 4 columns]

In [126]:
# Nominal_GDP, Real_GDP > float 변경
gdp.info()

gdp = gdp.astype({
    'Nominal_GDP' : float,
    'Real_GDP' : float
})

right = pd.DataFrame(gdp.groupby(['year'])['Nominal_GDP'].mean()).reset_index()
left  = pd.DataFrame(gdp.groupby(['year'])['Real_GDP'].mean()).reset_index()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 3 to 242
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         240 non-null    int64
 1   quarter      240 non-null    int64
 2   Nominal_GDP  240 non-null    object
 3   Real_GDP     240 non-null    object
dtypes: int64(2), object(2)
memory usage: 9.4+ KB

In [127]:
gdp

     year  quarter  Nominal_GDP  Real_GDP
3    1961        1         62.0       6.3
4    1961        2         83.2       7.2
5    1961        3         70.6       4.8
6    1961        4         85.9       9.0
7    1962        1         72.7       6.3
..    ...      ...          ...       ...
238  2019        4     497064.8       2.3
239  2020        1     458202.4      -1.3
240  2020        2     472328.1      -3.2
241  2020        3     491181.5       2.2
242  2020        4     492100.1       1.1

[240 rows x 4 columns]

In [128]:
right

    year  Nominal_GDP
0   1961       75.425
1   1962       91.475
2   1963      129.625
3   1964      184.900
4   1965      207.825
5   1966      266.475
6   1967      328.450
7   1968      423.100
8   1969      552.850
9   1970      699.150
10  1971      859.525
11  1972     1066.925
12  1973     1381.850
13  1974     1976.250
14  1975     2635.900
15  1976     3618.200
16  1977     4652.025
17  1978     6288.600
18  1979     8100.575
19  1980     9931.275
20  1981    12417.450
21  1982    14321.650
22  1983    17020.025
23  1984    19647.825
24  1985    22032.425
25  1986    25746.475
26  1987    30424.450
27  1988    36498.700
28  1989    41450.450
29  1990    50139.075
30  1991    60620.275
31  1992    69385.175
32  1993    78795.325
33  1994    93123.350
34  1995   109247.175
35  1996   122712.725
36  1997   135500.450
37  1998   134303.850
38  1999   147863.250
39  2000   162857.825
40  2001   176705.325
41  2002   196185.325
42  2003   209341.275
43  2004   227109.825
44  2005   239361.950
45  2006   251400.375
46  2007   272415.050
47  2008   288554.150
48  2009   301336.950
49  2010   330652.800
50  2011   347234.300
51  2012   360027.825
52  2013   375204.800
53  2014   390732.250
54  2015   414505.100
55  2016   435194.875
56  2017   458924.525
57  2018   474548.150
58  2019   479759.950
59  2020   478453.025

In [129]:
left

    year  Real_GDP
0   1961     6.825
1   1962     4.075
2   1963     9.100
3   1964     9.050
4   1965     7.750
5   1966    12.025
6   1967     9.250
7   1968    13.275
8   1969    14.200
9   1970    10.075
10  1971    10.875
11  1972     7.025
12  1973    14.850
13  1974     9.925
14  1975     7.500
15  1976    13.225
16  1977    12.000
17  1978    11.375
18  1979     9.225
19  1980    -1.450
20  1981     7.050
21  1982     8.400
22  1983    13.475
23  1984    10.750
24  1985     7.800
25  1986    11.225
26  1987    12.900
27  1988    12.100
28  1989     7.000
29  1990     9.900
30  1991    10.825
31  1992     6.300
32  1993     6.825
33  1994     9.275
34  1995     9.650
35  1996     7.900
36  1997     6.200
37  1998    -5.075
38  1999    11.375
39  2000     9.200
40  2001     4.850
41  2002     7.700
42  2003     3.150
43  2004     5.250
44  2005     4.300
45  2006     5.275
46  2007     5.775
47  2008     3.125
48  2009     0.775
49  2010     6.825
50  2011     3.725
51  2012     2.400
52  2013     3.150
53  2014     3.225
54  2015     2.775
55  2016     2.950
56  2017     3.150
57  2018     2.900
58  2019     2.050
59  2020    -0.300

In [130]:
gdp_pre = pd.merge(gdp, right, how ='left', left_on =['year'], right_on = ['year'], suffixes = ['_분기', '_년'])
gdp_pre

     year  quarter  Nominal_GDP_분기  Real_GDP  Nominal_GDP_년
0    1961        1            62.0       6.3         75.425
1    1961        2            83.2       7.2         75.425
2    1961        3            70.6       4.8         75.425
3    1961        4            85.9       9.0         75.425
4    1962        1            72.7       6.3         91.475
..    ...      ...             ...       ...            ...
235  2019        4        497064.8       2.3     479759.950
236  2020        1        458202.4      -1.3     478453.025
237  2020        2        472328.1      -3.2     478453.025
238  2020        3        491181.5       2.2     478453.025
239  2020        4        492100.1       1.1     478453.025

[240 rows x 5 columns]

In [131]:
gdp_pre = pd.merge(gdp_pre, left, how = 'left', left_on = ['year'], right_on =['year'], suffixes = ['_분기','_년'])
gdp_pre

     year  quarter  Nominal_GDP_분기  Real_GDP_분기  Nominal_GDP_년  Real_GDP_년
0    1961        1            62.0          6.3         75.425       6.825
1    1961        2            83.2          7.2         75.425       6.825
2    1961        3            70.6          4.8         75.425       6.825
3    1961        4            85.9          9.0         75.425       6.825
4    1962        1            72.7          6.3         91.475       4.075
..    ...      ...             ...          ...            ...         ...
235  2019        4        497064.8          2.3     479759.950       2.050
236  2020        1        458202.4         -1.3     478453.025      -0.300
237  2020        2        472328.1         -3.2     478453.025      -0.300
238  2020        3        491181.5          2.2     478453.025      -0.300
239  2020        4        492100.1          1.1     478453.025      -0.300

[240 rows x 6 columns]

In [132]:
# csv 저장
gdp_pre.to_csv('/Users/blackbutterfly0852/Desktop/workspace/PROPERTY/GDP.csv', sep = '|', na_rep = 'NaN', index = False)

In [ ]:
# Beautifulsoup4 : 웹에서 가져온 데이터(HTML, XML)을 처리(필터, 찾기) 기능 제공

In [1]:
import requests
import pandas as pd
import bs4
# https://www.data.go.kr/data/15057511/openapi.do
# url : http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev
# qgLvAcecIjAt%2BGOgl%2FZhxrAlER%2FINxk55ur7OQxBZqzT3hhGGM26P%2FG9fmF3Iyw61LpPJ8oCWSK2q29288DRuA%3D%3D

In [2]:
def df_for_request(rows):
	# rows : <class 'bs4.element.ResultSet'>
	row_list = []
	name_list = []
	column_list = []
	rows_len = len(rows)
	for i in range(0, rows_len):
		columns = rows[i].find_all()
		columns_len = len(columns)
		for j in range(0, columns_len):
			if i == 0:
				#.name으로 html의 <"값">을 찾아온다.
				name_list.append(columns[j].name)
			eachColumn = columns[j].text
			column_list.append(eachColumn)
		row_list.append(column_list)
		column_list = []
	df = pd.DataFrame(row_list, columns=name_list)
	return df

In [3]:
def request_api(tx_columns, url, service_key, code, date):
	df = pd.DataFrame(columns=tx_columns)
	payload = "serviceKey=" + service_key + "&" \
		+ "LAWD_CD=" + code + "&" \
		+ "DEAL_YMD=" + date
	res = requests.get(url + payload).text
	return res

In [4]:
tx_columns = ['거래금액', '건축년도', '년', '법정동', '아파트', '월', '일', '전용면적', '지번', '지역코드', '층', '해제사유발생일', '해제여부']

In [5]:
url = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?"

In [ ]:
service_key = 'qgLvAcecIjAt%2BGOgl%2FZhxrAlER%2FINxk55ur7OQxBZqzT3hhGGM26P%2FG9fmF3Iyw61LpPJ8oCWSK2q29288DRuA%3D%3D'